.aboutUs_s1_container {
    height: 110vh;
    background-color: aquamarine;
    background-image: url('../../../assets/images/jpg/aboutUs_s1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUs_s1_contentContainer {
    background-color: #2b2b2b8c;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUs_s1_title {
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    margin-top: 100px;
}

@media (max-width: 1040px) {
    .advantages_s1_title {
        font-size: 50px;
    }
}

@media (max-width: 760px) {
    .advantages_s1_title {
        text-align: center;
        width: 100%;
    }

    .advantages_s1_text {
        text-align: center;
        width: 100%;
    }
}


@media (max-width: 475px) {
    .advantages_s1_title {
        font-size: 30px;
    }
}