.main_s1_container {
    height: 110vh;
    background-color: aquamarine;
    background-image: url('../../../assets/images/jpg/rm378-01c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main_s1_contentContainer {
    background-color: #0b0b0b8c;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.main_s1_title {
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    color: #3bb6b9;
    margin-bottom: 20px;
}

.main_s1_text {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: white;
    width: 50%;
}

@media (max-width: 1040px) {
    .main_s1_title {
        font-size: 50px;
    }
}

@media (max-width: 760px) {
    .main_s1_title {
        text-align: center;
        width: 100%;
    }

    .main_s1_text {
        text-align: center;
        width: 100%;
    }
}


@media (max-width: 475px) {
    .advantages_s1_title {
        font-size: 30px;
    }
}