.main_s6_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main_s6_contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row-reverse;
    gap: 10%;
    width: 98%;
}

.main_s6_informationContainer {
    max-width: 500px;
    min-width: 300px;
}

.main_s6_title {
    font-size: 80px;
    margin-bottom: 100px;
    color: #3579c9;
}

.main_s6_text {
    font-size: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
    margin: 20px 0;

}

.main_s6_text::before {
    content: "";
    background-image: url("../../../assets/images/png/blue_check.png");
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    left: 0px;
}

.main_s6_image {
    max-width: 500px;
    object-fit: cover;
    min-width: 300px;
    overflow: hidden;
    align-self: flex-start;
}

@media (max-width: 1020px) {
    .main_s6_contentContainer {
        flex-wrap: wrap;
    }

    .main_s6_title {
        font-size: 50px;
        text-align: center;
        margin-bottom: 0;
    }

    .main_s6_informationContainer {
        margin-bottom: 40px;
    }

    .main_s6_contentContainer {
        padding: 20px;
    }
}