.mainLayout_header_container {
    background-color: #191919;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.mainLayout_header_logotype {
    height: 100px;
    cursor: pointer;
    margin-left: 20px;
    transform: scale(1);
    transition: transform 1s;
    width: 200px;
}

.mainLayout_header_logotype:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.mainLayout_header_navbar {
    display: flex;
    gap: 20px;
    color: white;
}

.mainLayout_header_link {
    transition: color 0.6s;
    height: 30px;
    border-bottom: 2px solid transparent;
    border-bottom-width: 0;
    transition: color 0.6s, border-color 1s;
}

.mainLayout_header_link:hover {
    border-bottom: 1px solid white;
    border-bottom-width: 100%;
    transition: color 0.6s, border-color 1s;
}

.mainLayout_header_btnContainer {
    display: flex;
    gap: 20px;
}

.mainLayout_header_btnDemo {
    color: #FFFFFF;
    background-color: #009788;
    border-color: #009788;
    border-radius: 45px;
    padding: 12px 20px 12px 20px;
    border: none;
    width: 160px;
    font-size: 16px;
    margin-right: 20px;
}

.mainLayout_header_btnDemo:hover {
    background-color: #6292ca;
    transition: background-color 0.5s;
}

.mainLayout_header_mobile_burger_container {
    display: none;
}

.mainLayout_header_mobile_burger_burger {
    margin-right: 20px;
    cursor: pointer;
    width: 40px;
}

.mainLayout_header_mobile_burger_popup {
    position: absolute;
    top: 120px;
    right: 0;
    width: 100vw;
    height: 50vh;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.mainLayout_header_mobile_burger_navbar {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 20px 50px;
    gap: 20px;
}

.mainLayout_header_mobile_burger_link {
    font-size: 16px;
    font-weight: 450;
}

.mainLayout_header_mobile_burger_btnContainer {
    padding: 20px 40px;
}

.mainLayout_header_mobile_burger_btnDemo {
    color: #FFFFFF;
    background-color: #009788;
    border-color: #009788;
    border-radius: 45px;
    padding: 12px 20px 12px 20px;
    border: none;
    width: 160px;
    font-size: 16px;
}

.mainLayout_header_mobile_burger_btnDemo:hover {
    background-color: #6292ca;
    transition: background-color 0.5s;
}

.mainLayout_header_mobile_burger_exit {
    color: white;
    border: none;
    background-color: transparent;
    align-self: flex-end;
    margin-right: 20px;
    font-size: 60px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}


@media (max-width: 1000px) {
    .mainLayout_header_navbar {
        display: none;
    }

    .mainLayout_header_btnDemo {
        display: none;
    }

    .mainLayout_header_container {
        padding: 0;
    }

    .mainLayout_header_mobile_burger_container {
        display: block;
    }
}

@media (max-width: 450px) {
    .mainLayout_header_logotype {
        margin-left: 0;
    }

}